*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #959595;
    background: #ffffff;
}
a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
img {
    display: block;
}
p {
    margin: 0;
}
input {
    display: block;
    font-family: 'Roboto', sans-serif;
}
label {
    display: block;
}
pre {
    font-size: 12px;
    margin: 0;
}