
/*
    Inputs
*/

input {
    cursor: pointer;
    font-size: 14px;
    padding: 14px 20px;
    margin-bottom: 30px;
}
input:focus {
    outline: none;
}
input[type=text],
input[type=number],
input[type=password] {
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    color: #959595;
    border-radius: 3px;
    transition: border-color 0.2s;
}
input[type=text]:focus,
input[type=text]:hover,
input[type=number]:focus,
input[type=number]:hover,
input[type=password]:focus,
input[type=password]:hover {
    background-color: #ffffff;
    border-color: #e1e1e1;
    color: #363636;
}
label {
    margin-bottom: 18px;
}



/*
    Buttons
*/

.button {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    padding: 14px 25px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: background-color 0.1s;
}
.button.primary {
    background-color: #d6001c;
    color: #fff;
}
.button.primary:hover {
    background-color: #a30015;
}




