/*
    Placeholders
*/

::-webkit-input-placeholder {color: var(--color-grey);}
::-moz-placeholder          {color: var(--color-grey);}
:-ms-input-placeholder      {color: var(--color-grey);}
:-moz-placeholder           {color: var(--color-grey);}



/*
    Inputs
*/

input {
    cursor: pointer;
    font-size: 14px;
    padding: 0 20px;
}
input:focus {
    outline: none;
}
.frame,
input[type=text],
input[type=number],
input[type=password] {
    width: 100%;
    height: 42px;
    border: 1px solid transparent;
    color: var(--color-grey);
    background-color: var(--bg-white-dark);
    border-radius: 3px;
    transition: border-color 0.2s;
}
.frame:hover,
.frame.focus,
input[type=text]:focus,
input[type=text]:hover,
input[type=number]:focus,
input[type=number]:hover,
input[type=password]:focus,
input[type=password]:hover {
    background-color: var(--bg-white);
    border-color: var(--bg-border);
    color: var(--color-black)
}



/*
    Label
*/

label {
    display: block;
    font-weight: 700;
}



/*
    Buttons
*/

.button {
    height: 42px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    fill: var(--color-white);
    color: var(--color-white);
    border-radius: 3px;
    border: 1px solid transparent;
    transition: background-color 0.1s;
}
.button svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.button span {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 0 3px 4px;
}
.button.primary {
    background-color: var(--bg-red);
}
.button.primary:hover {
    background-color: var(--bg-red-dark);
}
.button.secondary {
    background-color: var(--bg-black-light);
}
.button.secondary:hover {
    background-color: var(--bg-red-dark);
}



/*
    Form
*/

.form input {
    margin-bottom: 30px;
}
.form label {
    margin-bottom: 18px;
}