/*
    Placeholders
*/

::-webkit-input-placeholder {color: var(--color-grey);}
::-moz-placeholder          {color: var(--color-grey);}
:-ms-input-placeholder      {color: var(--color-grey);}
:-moz-placeholder           {color: var(--color-grey);}



/*
    Label
*/

.f-label {
    font-weight: 700;
}
.f-label.required:after {
    content: '*';
    color: var(--color-red);
    margin-left: 4px;
}



/*
    Inputs
*/

.f-input {
    width: 100%;
    height: 42px;
    border: 1px solid transparent;
    color: var(--color-grey);
    background-color: var(--bg-white-dark);
    border-radius: 3px;
    transition: border-color 0.2s;
    font-size: 14px;
    padding: 0 20px;
}
.f-input:hover,
.f-input:focus {
    background-color: var(--bg-white);
    border-color: var(--bg-border);
    color: var(--color-black)
}



/*
    Buttons
*/

.f-button {
    height: 42px;
    padding: 10px;
    font-family: var(--font-secondary);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    fill: var(--color-white);
    color: var(--color-white);
    border-radius: 3px;
    border: 1px solid transparent;
    transition: background-color 0.1s;
}
.f-button svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.f-button span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.f-button.primary {
    background-color: var(--bg-red);
}
.f-button.primary:hover {
    background-color: var(--bg-red-dark);
}
.f-button.secondary {
    background-color: var(--bg-black-light);
}
.f-button.secondary:hover {
    background-color: var(--bg-red-dark);
}
.f-button.blank {
    background: none;
    color: var(--color-red);
}
.f-button.wide {
    padding-left: 20px;
    padding-right: 20px;
}




/*
    Form
*/

.f-form .f-input {
    margin-bottom: 30px;
}
.f-form .f-label {
    margin-bottom: 18px;
}
.f-form .f-error {
    color: var(--color-red);
    font-size: 14px;
    margin-top: 30px;
}
.f-form .buttons .f-button {
    margin-right: 12px;
}



/*
    Toogle
*/

.f-toggle .f-button {
    height: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90px;
    text-align: center;
}
.f-toggle .f-button:first-child {
    border-radius: 3px 0 0 3px;
}
.f-toggle .f-button:last-child {
    border-radius: 0 3px 3px 0;
}
.f-toggle .f-button.active {
    background: var(--bg-grey-light);
    color: var(--color-black);
}
