/*
    Placeholders
*/

::-webkit-input-placeholder {color: #959595;}
::-moz-placeholder          {color: #959595;}
:-ms-input-placeholder      {color: #959595;}
:-moz-placeholder           {color: #959595;}



/*
    Inputs
*/

input {
    cursor: pointer;
    font-size: 14px;
    padding: 0 20px;
}
input:focus {
    outline: none;
}
.frame,
input[type=text],
input[type=number],
input[type=password] {
    width: 100%;
    height: 42px;
    background-color: #fafafa;
    border: 1px solid transparent;
    color: #959595;
    border-radius: 3px;
    transition: border-color 0.2s;
}
input[type=text]:focus,
input[type=text]:hover,
input[type=number]:focus,
input[type=number]:hover,
input[type=password]:focus,
input[type=password]:hover {
    background-color: #ffffff;
    border-color: #e1e1e1;
    color: #363636;
}
label {
    margin-bottom: 18px;
}



/*
    Buttons
*/

.button {
    height: 42px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    fill: #ffffff;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: background-color 0.1s;
}
.button svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.button span {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 0 3px 4px;
}
.button.primary {
    background-color: #d6001c;
    color: #fff;
}
.button.primary:hover {
    background-color: #a30015;
}
.button.secondary {
    background-color: #363636;
}
.button.secondary:hover {
    background-color: #a30015;
}



/*
    Form
*/

.form {
    padding-top: 48px;
}
.form input {
    margin-bottom: 30px;
}