/*
    Floats
*/

.l-clear:after {
    content: '';
    display: block;
    clear: both;
}
.l-fl {
    float: left;
}
.l-fr {
    float: right;
}
.l-ff {
    width: auto;
    overflow: hidden;
}



/*
    Alignment
*/

.l-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.l-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.l-stretch {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}



/*
    Container
*/

.l-container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 960px;
    height: inherit;
}





/*
    Other
*/

.l-aside {
    min-height: 1px;
    width: 240px;
}
.l-split {
    padding-left: 30px;
}