:root {



    /*
        Colors
    */

    --color-black: #363636;
    --color-grey: #959595;
    --color-grey-light: #c8c8c8;
    --color-white: #ffffff;
    --color-red: #d6001c;



    /*
        Backgrounds
    */

    --bg-white: #ffffff;
    --bg-white-dark: #fafafa;
    --bg-red: #d6001c;
    --bg-red-dark: #a30015;
    --bg-black: #252525;
    --bg-black-light: #363636;
    --bg-grey-light: #ededed;
    --bg-border: #e1e1e1;



    /*
        Shadow
    */

    --shadow: 0 1px 1px 0 rgba(0,0,0,0.15);



    /*
        Font
    */

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Raleway', sans-serif;



}

